*.pyc
*~
dist/
build/
fiduswriter_book.egg-info/
fiduswriter_books.egg-info/
__pycache__/
venv/
.envrc
.direnv/
fiduswriter/.transpile
.transpile
fiduswriter/media
fiduswriter/static-libs
static-libs/
fiduswriter/static-transpile
fiduswriter/static-collected
fiduswriter/.coveragerc
fiduswriter/configuration.py
fiduswriter/fiduswriter.sql
fiduswriter.sql
