*.pyc
*~
dist/
build/
fiduswriter_book.egg-info/
fiduswriter_books.egg-info/
__pycache__/
venv/
fiduswriter/.transpile
fiduswriter/media
fiduswriter/static-libs
fiduswriter/static-transpile
fiduswriter/static-collected
fiduswriter/.coveragerc
fiduswriter/configuration.py
fiduswriter/fiduswriter.sql