{% extends "base.html" %}
{% load i18n %}
{% load compress %}
{% load avatar_tags %}
{% load transpile %}

{% block title %}{% trans "Book Overview" %}{% endblock %}
{% block extraheaders %}
    {% compress css %}
        <link type="text/css" rel="stylesheet" href="{% static "css/fw_modules/add_remove_dialog.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/access_rights_dialog.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/book.css" %}" />


    {% endcompress %}

    <link type="text/css" rel="stylesheet" href="{% static "css/fw_modules/dropkick.css" %}" />

    <!-- File export functions -->
    <script type="text/javascript" src="{% static "js/book_overview.mjs" %}"></script>

{% endblock %}

{% block contents %}
    <ul id="fw-overview-menu"></ul>
{% endblock %}
