{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
<title></title>
        <!-- KaTeX -->
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/libs/katex/katex.min.css" />
        <script type="text/javascript" src="/jsi18n/"></script>
        <!-- jQuery -->
        <script type="text/javascript" src="{% static "js/libs/jquery.min.js" %}"></script>
        <!-- JS error handling -->
        <script type="text/javascript" src="{% url 'js-error-handler-js' %}"></script>

    <!-- Moving of footnotes-->
    <script type="text/javascript"  src="{{ STATIC_URL }}js/print_book.mjs"></script>

</head>
<body class="tex2jax_ignore">
    <div id="print" class="user-contents">
        <div id="flow">
            <div id="book">
            </div>
            <div class="chapter">
                <div id="bibliography" class="user-contents"></div>
            </div>
        </div>
    </div>
</body>
</html>
